:root{
    --shade-of-red-01:#FF0000;
    --shade-of-red-02:#830000;
    --shade-of-red-03:#030000;
    --shade-of-red-04:#000000;

    --shade-of-yellow-01:#FF9900;
    --shade-of-yellow-02:#834800;
    --shade-of-yellow-03:#030200;
    --shade-of-yellow-04:#000000;

    --shade-of-green-01:#00FF00;
    --shade-of-green-02:#00DD00;
    --shade-of-green-03:#006900;
    --shade-of-green-04:#020000;
    --shade-of-green-05:#000000;

    --shade-of-blue-01:#0F85FF;
    --shade-of-blue-02:#0161C4;
    --shade-of-blue-03:#032B55;
    --shade-of-blue-04:#000102;
    --shade-of-blue-05:#000000;

    --background-color: #1a1a1a;
    --accent-color:rgba(128, 128, 128, 0.2);
    --accent-color-02:rgba(128, 128, 128, 0.1);
    --translucent-background-color:rgba(128, 128, 128, 0.2); /* grey with 50% opacity */
    --background-color-2:goldenrod;
    --text-color: white;

    --box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
html {
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

@font-face {
  font-family: 'TrashHand';
  src: url('./fonts/trashhand/TrashHand.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'TrashHand', cursive;
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--shade-of-blue-04);
  color: #eee;
  text-align: center;
  margin: 0;
  padding: 0;
}


.container{
  max-width:var(--container-max);
  margin:0 auto;
  padding:0 36px
}


.New{
    display: block;
}

.hero-overlay{
    position: relative;
    text-align: center;
    color: var(--text-color);
}

.hero-overlay img{
    width: 100%;
    height: auto;
    display: block;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    font-family: 'TranshHand', cursive;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.hero-text p{
    font-family: 'TrashHand',cursive;
    color:var(--shade-of-yellow-01)
}


.vertical-text {
  position: relative;
  bottom: 40px;
  left: -50px;
  transform: rotate(-90deg); /* rotate horizontally written text */
  transform-origin: right bottom;
  font-size: 20px;
  font-weight: bold;
}




/* Reset some default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
   
/* navigation bar settings */



nav{
  display:flex;
  align-items:center;
  gap:8px
}

nav a{
  text-decoration:none;
  padding:8px 14px;
  font-weight:600;
  transition:background .3s ease,color .3s ease
}

nav a:active{
  background:var(--c-accent);
  color:#fff;
}

nav a:hover{
  border:1px var(--c-accent) solid;
  border-radius: 10px;
}

.navbar-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    gap: 1.5rem;
    cursor: pointer;
    
}

.navbar-container .navbar-menu li a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    transition: all 0.7s ease;
    border: 2px solid transparent;
    white-space: nowrap;

}


.navbar-container .navbar-menu li a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    transition: all 0.7s ease;
    border: 2px solid transparent;
    white-space: nowrap;

}

.navbar-container .navbar-menu li a:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
    
    
} 

.navbar-toggle{
    background:transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;

}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: black;
}


/* #NavigationBar{
    background-color: var(--shade-of-yellow-03);
} */

ul{
    display: flex;
    list-style: none;
    gap: 24px;
}

a{
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 25px;
}

p{
    font-size: 30px;
}

li{
    position: relative;
    list-style: none;
    text-decoration: none;
    color: var(--color);
    font-size: 18px;
    padding:4px 0;
    cursor: pointer;
    font-family:var(--font-family);
    font-weight: 700;
}

li::after{
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 4px;
    background-color: var(--background-color-2);
    transition: width 0.3s ease;
}


li:hover::after{
    width: 100%;
}


/* the others */


#introduction{
    background-repeat: no-repeat;
    font-family:var(--font-family)
}

#introduction img{
    width:100%;
    height:100%;
    flex-wrap: wrap;
   text-shadow: rgba(0, 0, 0, 0.2);

}

/* Header styles */
header {
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;  
}


#hero-image,img{
width: 100%;
height: 100%;
z-index: -1;
}

/* videos section */

.videos-section {
    background-color:var(--shade-of-blue-04);
    color: white;
    padding: 200px 10px;
    text-align: center;
}

.videos-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-family: var(--font-family);
    color: #f5a623;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.video {
    background-color: #333;
    padding: 100px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.video iframe,
.video video {
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.6);
}

.video iframe {
    max-width: 100%;
    height: auto;
}

.video video {
    max-width: 640px;
    height: 360px;
    width: 100%;
}


.thumbnail {
    width: 100%;
    max-width: 320px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.video p {
    font-size: 1rem;
    margin-top: 10px;
    color: var(--shade-of-yellow-01);
}



/* Base styles for playlist*/

        /* Main Play Section */
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 960px;
            margin: 0 auto;
            padding: 20px;
            flex-wrap: wrap;
        }
        #music-icon{
            width: 25px;
            height: 25px;
        }
        .music-player {
            background: var(--shade-of-blue-03);
            padding: 32px;
            border-radius: 10px;
            text-align: center;
            width: 550px;
            height: auto;
            margin-top: 20px;
             /* flex-wrap: wrap; */
        }

        .music-player img{
            width: 100%;
            height: auto;
            background-blend-mode:soft-light
            ;
        }

        .music-player h2 {
            color: var(--shade-of-green-02);
            font-size: 1.5em;
            margin-bottom: 20px;
        }

        .music-player button {
            background-color: var(--text-color);
            border: none;
            padding: 10px 20px;
            font-size: 1em;
            border-radius: 1rem;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .music-player button:hover {
            background-color: rgb(191, 189, 189);
        }

        /* Playlist Styling */
        .playlist {
            margin-top: 30px;
            text-align: center;
        }

        .playlist audio {
            width: 100%;
            margin: 16px 0;
        }
    audio {
        width: 70%;
        max-width: 400px;
        flex: 1;
    }

    .controls{
        align-items: center;
        gap: 16px;
        margin: 20px 0;
        margin-bottom: 20px;  

    }
    

    #like{
        width: 12px;
        height: 12px;
        border-radius: 1rem;
        margin-bottom: 4px;
       
        /* padding: 10px 15px; */
        transition: 0.2s;
    
        
    }
    
    /* svg{
        fill: var(--text-color);
    } */



/* Merch Section */
.merch-section {
    background-color: var(--translucent-background-color);
    /* Dark background to contrast */
    
    background-size: cover;
    background-repeat: no-repeat;
    /*prevents repetition*/
    color: #fff;
    padding: 40px;
    text-align: center;
}

.merch-section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.merch-section p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

.merch-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.merch-item {
    background-color: var(--translucent-background-color);
    /* Slightly lighter background */
    padding: 40px;
    width: 250px;
    text-align: center;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.merch-item:hover {
    transform: scale(1.05);
    /* Slight zoom effect on hover */
}

.merch-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.merch-item h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.merch-item p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.buy-button {
    display: inline-block;
    background-color: var(--shade-of-yellow-01);
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buy-button:hover {
    background-color: var(--shade-of-yellow-02);
    transform: scale(1.05);
}


.color-options {
  margin-top: 10px;
  display: flex;
  gap: 8px;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1.6px solid var(--shade-of-yellow-01);
  cursor: pointer;
  border-style: groove;
  position:relative;
  right: -63px;
  top: -30px;
 
}

.color-circle:hover{
    border:1.63px solid var(--shade-of-green-01);
    transform: scale(1.05);

}

/*CSS(for ANIMATIONS)*/
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease out,
        transform 0.6s ease-out;
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}

.animated-text span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}
.animated-text span.visible {
  opacity: 1;
  transform: translateY(0);
}

.animated-text-02{
    display: inline-block;
    transform: translateX(20px);
  transition: all 0.5s ease;
}

/* ....... */




/*Responsive Design*/
/* @media (max-width:1064px) { */
    h1 {
        font-size: 2em;
        align-items: center;
        justify-content: center;
        text-align: right;

    }

    .icon {
        width: 30px;
        height: 30px;
    }
    
  
    .platforms {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        justify-content: center;
    }
/* to handle the footer social media icons */
    .icon-s{
         width: 25px;
        height: 25px;
    }


    #fontAwesome{
        color: var(--text-color);
        
    }

    .social-media-icons {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .icon-link {
        margin: 0 10px;
        font-size: 24px;
        color: var(--text-color);
        transition: color 0.2s ease;
    }

    .icon-link:hover {
        color:var(--text-color);
    }

    
header{
  position:sticky;
  top:16px;
  z-index:100;
  padding:12px 0;
  -webkit-backdrop-filter:blur(12px);
          backdrop-filter:blur(12px);
  background:color-mix(in srgb,var(--c-bg) 80%,transparent);
  border-radius:var(--radius)
}

.nav-wrap{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

    header h1 {
        font-size: 2.5rem;
        /* Smaller font size on mobile */
    }

    header nav {
        flex-direction: column;
        /* Stack links vertically on smaller screens */
        gap: 15px;
        /* Smaller gap */
    }

    header p {
        font-size: 1rem;
        /* Smaller font size on mobile */
    }

    

    h1,.graffiti-text {
      font-family: 'TrashHand', cursive;
      font-size: 100px;
      color: var(--shade-of-yellow-01);
      letter-spacing: 1px;
    }

    h2 {
        font: size 10em;
        color: var(--shade-of-yellow-01);
    }

    h3 {
        color: var(--shade-of-green-02);
        font-size: 50px;
        text-shadow: var(--text-color);
    }

    p {
        line-height: 1.6;
    }

    a{
        color: var(--shade-of-yellow-01);
    }

    .content {
        margin-top: 20px;
        position: relative;
    }

    .platformimages {
        width: auto;
        height: auto;
        position: center;
        display: block;
        align-items: center;
        justify-content: center;
    }

    .backgroundimages {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        z-index: -1;
        /*ensure the image is behind the content*/

    }

    .icon {
        width: 80px;
        height: 80px;
    }

    .platformsimages {
        position: center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        z-index: -1;
        /*ensure the image is behind the content*/
    }

/* } */



img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}



html,body{
  height:100%
}

.about {
    background-color: #ccc;
}

button.graffiti-text{
    background-color:var(--shade-of-green-02);
    color: var(--text-color);
    font-size: 30px;
    padding-bottom: 10px;
    
}


section {
    padding: 20px;
  
}

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); */

/* this will handle the pages in the promo section */
.page{
      width: 100%;
      height: 100vh;
}
#page-1{
background-color: var(--shade-of-blue-04);

}

#page-1 h1{
    animation: fadeIn 1s ease-in forwards;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#page-2{
    background-color: var(--shade-of-blue-03);
   
 
}
 #page-2 p{
    font-size: 80px;
    animation: slideInLeft 0.8s ease-out forwards;
 }

@keyframes slideInLeft {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

#page-3{
    background-color: var(--shade-of-blue-02);
    color: var(--shade-of-yellow-01);
    
    
}

#page-3 p{
     font-size: 80px;
     font-weight:900;
     animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}

#page-4{
    background-color: var(--shade-of-green-03);
}

#page-4 p{
    font-size: 80px;
 }


#page-5{
    background-color: var(--shade-of-yellow-02);
}

#page-5 p{
    font-size: 60px;
 }

#page-6{
    background-color: var(--shade-of-red-02);
}

#page-6 p{
    font-size: 60px;
 }


#page-7{
    background-color: var(--shade-of-yellow-02);
}

#page-7 p{
    font-size: 60px;
 }

/* this will handle the music links and popups */
.music-links {
    padding: 40px;
    background-color:var(--shade-of-blue-03);
}

.event-notification {
    background-color: var(--shade-of-yellow-02);
    /* Bright color to grab attention */
    color: var(--text-color);
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: none;
    /* Hidden by default */
}

.event-notification a {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: underline;
}

.event-notification.show {
    display: block;
    /* Display when the class 'show' is added */
}



.event-popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('images/AlbumArt.jpg');
    color: var(--text-color);
    padding: 20px;
    box-shadow: var(--box-shadow);
    z-index: 1001;
    display: none;
}

.event-popup button {
    background-color: var(--background-color-2);
    border: none;
    color: var(--text-color);
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}

.event-popup button:hover {
    background-color: var(--shade-of-yellow-01);
}



.cta-button{
    background-color: var(--background-color-2);
    border: none;
}


.booking-section {
    background-color: var(--translucent-background-color);
    color:var(--text-color);
    padding: 50px;
    text-align: center;
}

.booking-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.booking-section p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
    
}

label {
    font-size: 1rem;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}

input,
select,
textarea {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 2px solid var(--shade-of-yellow-01);
    border-radius: 5px;
    background-color: var(--background-color);
    color:var(--text-color);
    font-size: 1rem;
}

input[type="date"] {
    cursor: pointer;
}

textarea {
    height: 120px;
}

/*CSS (Button Hover Effect)*/

#button {
    background-color:var(--shade-of-green-04);
    border: none;
    padding: 10px 20px;
    color: var(--text-color);
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

#button:hover {
    background-color:var(--shade-of-green-03);
    color: var(--text-color);
}






.event-notification.show {
    background-color: var(--shade-of-yellow-04);
}



.booking-cta {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:var(--shade-of-green-03);
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 1.2rem;
    color:var(--text-color);
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.booking-cta:hover {
    background-color: var(--accent-color);
    color: var(--shade-of-yellow-01);
    /* color: */
}

.cta-button{
    background-color: var(--shade-of-yellow-01);
    

}

.cta-button:hover{
    background-color: var(--shade-of-yellow-02);
}






.platforms {
    display: flex;
    justify-content: center;
    /* Center icons horizontally */
    align-items: center;
    /* Center icons vertically */
    overflow-x: auto;
    /* Enables horizontal scrolling */
    flex-direction: row;
    /* Align icons in a row */
    /*-webkit-overflow-scrolling: touch;*/
    /* Enables smooth scrolling on mobile */
    flex-wrap: wrap;
    /* Prevent icons from wrapping to a new line */
    gap: 30px;
    /* Space between icons */
    padding: 20px;
    /* Optional padding around the container */
    /*scroll-snap-type: x mandatory;*/
    /* Optional: Enables smooth snap scrolling (useful for mobile) */

}

.platforms .icon {
    width: 50px;
    /* Set the width of each icon */
    height: 50px;
    /* Set the height of each icon */
    transition: transform 0.5s ease;
    /* Smooth transition on hover */
}

.platforms .icon:hover {
    transform: scale(1.5);
    /* Slightly scale the icon when hovered */
}



/* Icon styles */
.icon {
    width: 50px;
    height: auto;
    transition: transform 0.3s ease;
    /* Smooth zoom effect on hover */
}

.icon:hover {
    transform: scale(1.8);
    /* Zoom effect on hover */
}

.socials {
    display: flex;
    justify-content: center;
    /* Center icons horizontally */
    align-items: center;
    /* Center icons vertically */
    overflow-x: auto;
    /* Enables horizontal scrolling */
    flex-direction: row;
    /* Align icons in a row */

    /* Enables smooth scrolling on mobile */
    flex-wrap: wrap;
    /* Prevent icons from wrapping to a new line */
    gap: 30px;
    /* Space between icons */
    padding: 20px;
    /* Optional padding around the container */
    scroll-snap-type: x mandatory;
    
}

#socials{
    filter: invert();
}

.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
}

.preorder-section{
    display: flex;
    justify-content: center;

}



/* booking section css */
.booking-section {
    background: color z index -1px;;
    color: var(--text-color);
    padding: 50px;
    text-align: center;
}

.booking-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.booking-section p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

label {
    font-size: 1rem;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}

input,
select,
textarea {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 2px solid var(--shade-of-yellow-01);
    border-radius: 5px;
    background-color: var(--translucent-background-color);
    color: var(--text-color);
    font-size: 1rem;
}

input[type="date"] {
    cursor: pointer;
}

textarea {
    height: 120px;
}

button {
    background-color: var(--shade-of-yellow-04);
    border: none;
    padding: 10px 20px;
    color: var(--text-color);
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button,.cta-button,.preorder-button{
    transition: transform 0.3s ease,var(--box-shadow);
}

button:hover,.cta-button:hover,.preorder-button:hover{
    transform: scale(1.05);
    box-shadow: 0  4px 12px rgba(255,255,255,0.2);
}

.add-btn{
    background-color: var(--translucent-background-color);
}

.add-btn:hover{
    background-color: var(--shade-of-yellow-03);
}


#listen{
    background-color: var(--shade-of-green-02);
   
}

#listen:hover{
    background-color: var(--shade-of-green-03);
}





#countdown {
    background-color: var(--shade-of-red-03);
    width: 100%;
    height: 100%;
    color: var(--text-color);
    /* White text for readability */
    border-style:groove;
    padding: 50px;
    /* Padding around the countdown */
    text-align: center;
    /* Center the timer text */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 90px;
    font-weight: bolder;
    /* Use a bold, modern font */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    /* Shadow for depth */
    max-width: 500px;
    /* Limit the width */
    margin: 20px auto;
    /* Center the timer block horizontally */
    font-size: 2rem;
    /* Larger text size */
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#countdown.background-image {
    opacity: 0.1;
}

#countdown h2 {
    font-size: 1.5rem;
    /* Smaller title size */
    margin-bottom: 10px;
    /* Space between title and timer */
    text-transform: uppercase;
    /* Bold, capitalized text */
    letter-spacing: 2px;
    /* Add spacing for style */
    font-weight: bold;
    /* Bold text for prominence */
    color: var(--shade-of-yellow-01);
    /* A golden color to stand out */
}

#timer {
    font-size: 3rem;
    /* Make the timer big and bold */
    font-weight: 700;
    /* Make the timer text bold */
    color: var(--text-color);
    /* A vibrant color for urgency (can be red or something bright) */
    font-size: 24px;
    letter-spacing: 3px;
    /* Add some spacing for effect */
    animation: timerAnimation 1s ease-in-out infinite;
    /* Make the numbers slightly pulse */
}


@keyframes timerAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        /* Slightly enlarge the timer text */
    }

    100% {
        transform: scale(1);
    }
}

#countdown .finished {
    color: var(--shade-of-green-01);
    /* Green color when finished */
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 15px;
    /* Space after timer */
    text-align: center;
}

/* Pre-order Section */

.preorder-section {
    background-image: url("images/albumheaderBlured.jpg");
    width: 100%;
    height: 100%;
    /* Dark background to contrast the page */
    color: var(--text-color);
    text-align: center;
    padding: 40px;
    margin: 40px 0;
    border-radius: 8px;
}

.preorder-container h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.preorder-container p{
    font-size: 2.1rem;
    font-weight: bolder;
    margin-bottom: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

#Pre-orderText p,a{
    font-size: 2rem;
    font-weight: bolder;
}

.preorder-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.preorder-button {
    background-color: var(--shade-of-yellow-01);
    /* A bright color to grab attention */
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.preorder-button:hover {
    background-color: var(--shade-of-yellow-01);
    transform: scale(1.05);
}

#countdownText {
    margin-top: 20px;
    font-size: 3.1rem;
    font-weight: bold;
}


#Pre-ordertimer {
    font-size: 3rem;
    /* Make the timer big and bold */
    font-weight: 700;
    /* Make the timer text bold */
    color: var(--text-color);
    /* A vibrant color for urgency (can be red or something bright) */
    font-size: 24px;
    letter-spacing: 3px;
    /* Add some spacing for effect */
    animation: timerAnimation 1s ease-in-out infinite;
    /* Make the numbers slightly pulse */
}


@keyframes Pre-ordertimerAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        /* Slightly enlarge the timer text */
    }

    100% {
        transform: scale(1);
    }
}

.padding {
    width: 0;
    background-color: var(--shade-of-blue-05);
    color: var(--text-color);
    text-align: center;
    padding: 0px;
    position: relative;
    margin-top: 0px;
    bottom: 0;
}

/* footer section */
footer {
    background-color: var(--background-color);
    color:var(--text-color);
    text-align: center;
    padding: 20px;
    position: relative;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
}




@media (min-width: 640px){
  .sm\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:flex-row{
    flex-direction: row;
  }

  .sm\:px-3{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .sm\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px){
  .md\:col-span-2{
    grid-column: span 2 / span 2;
  }

  .md\:block{
    display: block;
  }

  .md\:hidden{
    display: none;
  }

  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .md\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px){
  .lg\:col-span-1{
    grid-column: span 1 / span 1;
  }

  .lg\:col-span-2{
    grid-column: span 2 / span 2;
  }

  .lg\:h-auto{
    height: auto;
  }

  .lg\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:items-center{
    align-items: center;
  }

  .lg\:justify-between{
    justify-content: space-between;
  }

  .lg\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:py-24{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .lg\:py-32{
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .lg\:text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }
}

@media (min-width: 1280px){
  .xl\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}