html {
    scroll-behavior: smooth;
}

header {
    background-image: url("images/booking.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    display: flex;
    flex-direction: column;
    /* Change to column for better positioning */
    position: relative;
    /* Required for absolute positioning of the blurred overlay */
    padding: 0;
    /* Remove any extra padding */
    margin: 0;
    /* Remove any margin */
    color: #fff;
    /* Make the text white for contrast */

    text-align: center;
    text-emphasis-position: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header.hero{
        display: flex;
            flex-direction: column-reverse;
        
            text-align: center;
            text-emphasis-position: center;
            align-items: center;
            justify-content: center;
            height: 100vh;
        
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            /* Change to column for better positioning */
            position: relative;
            /* Required for absolute positioning of the blurred overlay */
            padding: 0;
            /* Remove any extra padding */
            margin: 0;
            /* Remove any margin */
            color: #fff;
            /* Make the text white for contrast */
}

body{
    background-color: black;
    background-image: url('images/20250101_211343.jpg');
    color: #ffffff;
    justify-content: center;
}

.booking-section {
    background: color z index -1px;;
    color: white;
    padding: 50px;
    text-align: center;
}

.booking-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.booking-section p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

label {
    font-size: 1rem;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}

input,
select,
textarea {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 2px solid #f5a623;
    border-radius: 5px;
    background-color: #444;
    color: white;
    font-size: 1rem;
}

input[type="date"] {
    cursor: pointer;
}

textarea {
    height: 120px;
}

button {
    background-color: black;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}



footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: relative;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
}